.main-content {
    padding: 40px;
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #2e3b4e;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #444;
}

input[type="number"] {
    width: 100%;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    transition: border 0.3s ease;
}

input[type="number"]:focus {
    border-color: #4da3ff;
    outline: none;
    background-color: #fff;
}

.btn-ajouter {
    padding: 10px 18px;
    font-size: 16px;
    background-color: #4da3ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ajouter i {
    margin-right: 8px;
}

.btn-ajouter:hover {
    background-color: #357ec7;
}

.success {
    margin-top: 15px;
    font-weight: bold;
    color: #2e7d32;
    /* vert succès */
}

.error {
    margin-top: 15px;
    font-weight: bold;
    color: #a93232;
}

#solde {
    font-weight: bold;
    color: #357ec7;
    font-size: 18px;
    margin-left: 5px;
}

#solde-section{
    margin-bottom: 20px;
    font-size: 18px;
    color: #444;
    font-weight: 600;
    display: flex;
    align-items: center;
}

input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus,
input[type="date"]:focus {
    border-color: #4da3ff;
    background-color: #fff;
    outline: none;
}
